{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  Cliquez ici pour entendre notre radio:
  <a class="btn btn-primary btn-lg" href="http://krandor305.Caster.fm/" role="button">radio</a>
  Cliquez ici pour voir le Blog:
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Blog</a>
  </p>
</div>
{% endblocktrans %}
{% endblock %}
