{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Radio:</p>
  <script type="text/javascript">var cstrpuid = 498452;var cstrpwidth = "500";var cstrpheight = "325";</script>
<script type="text/javascript" src="http://cdn.caster.fm/0070B7/widgets/player.js"></script>
<!--   DO NOT REMOVE THE LINKS BELOW, THEY  WILL BE HIDDEN (AND WILL HELP US A LOT)   -->
<a id="cstrplb" href="http://www.caster.fm/">Free Shoutcast Hosting</a><a id="cstrplb2" href="http://www.caster.fm/">Radio Stream Hosting</a>
<div id="cstrpdiv"></div>
  Cliquez ici pour voir le Blog:
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Blog</a>
  </p>
</div>
{% endblocktrans %}
{% endblock %}
