{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Radio</p>
  <hr class="my-4">
  <p>I present you Dark Prince Blog.</p>
  <p class="lead">
  Cliquez ici pour voir le Blog:
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Blog</a>
  </p>
</div>
{% endblocktrans %}
{% endblock %}
